body {
    font-family: "Bitter";
}

.header {
    padding: 10px;
    background-color: #c7edda;
    border-bottom: 3px solid #3dcc85;
    display: flex;
    align-items: center;
}

.logoImg {
    width: 45px;
    height: 45px;
}

.logoGrey {
    padding-left: 10px;
    color: #707c8c;
    font-size: 32px;
}

.logoGreen {
    color: #3dcc85;
    font-size: 32px;
}
